body,
html {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  width: 7px;
  height: 7px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100px;
}
a {
  color: rgb(0, 113, 227);
  text-decoration: none;
}
header {
  width: 100vw;
}
nav {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
}
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
nav ul a {
  color: white;
}
.small-new {
  font-size: 14px;
  color: tomato;
  margin-top: 30px;
}
h1 {
  font-size: 48px;
  margin: 8px;
}
h2 {
  font-size: 36px;
  margin: 10px;
}
img {
  width: 50%;
  min-width: 350px;
}
section img.box {
  width: 40px;
  min-width: 40px;
}
.btn {
  background-color: rgb(0, 113, 227);
  color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  margin-bottom: 14px;
}
section {
  margin: 32px auto;
}
article {
  background-color: rgb(242, 242, 242);
  width: 48%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}
article div {
  padding: 20px 15%;
}
article img {
  width: 100%;
  object-fit: contain;
}
article .image-fit {
  max-height: 45%;
  padding: 0 60px;
  box-sizing: border-box;
}
.franja-complementos {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.macbook-info {
  margin: 32px 0;
}
.section-lower p,
.section-lower h4 {
  margin: 8px;
}
footer {
  text-align: left;
  padding: 30px 70px;
  background-color: rgb(245, 245, 247);
  font-size: 14px;
}
footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px 0;
}
footer p {
  padding-left: 20px;
  color: rgb(81, 81, 84);
}
footer ul li {
  padding: 2px 20px;
  color: rgb(81, 81, 84);
  font-weight: bold;
}
footer ul li:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}
